@model OrderManagement.Employee

<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">@Model.FirstName @Model.LastName</h4>
    </div>
    <div class="modal-body">

        <div class="row">
            <div class="col-md-4">
                  @{ byte[] photo = Model.Photo;
                        string imageSrc = null;
                       if (photo != null)
                       {
                           var ms = new MemoryStream();
                           ms.Write(photo, 78, photo.Length - 78); // strip out 78 byte OLE header (don't need to do this for normal images)
                           string imageBase64 = Convert.ToBase64String(ms.ToArray() );
                           imageSrc = string.Format("data:image/gif;base64,{0}", imageBase64);
                       }
                     }
                    <img src="@imageSrc" alt="Employee Photo" />                
                
                @*<img src="@Url.Content(@Model.PhotoPath)" alt="Employee Image" />*@
            </div>
            <div class="col-md-8">

                <div class="row">
                    <div class="col-md-3">
                        <strong>@Html.DisplayNameFor(model => model.BirthDate)</strong>
                    </div>
                    <div class="col-md-6">
                        @Html.DisplayFor(model => model.BirthDate)
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <strong>@Html.DisplayNameFor(model => model.HireDate)</strong>
                    </div>
                    <div class="col-md-6">
                        @Html.DisplayFor(model => model.HireDate)
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <strong>@Html.DisplayNameFor(model => model.Address)</strong>
                    </div>
                    <div class="col-md-6">
                        @Html.DisplayFor(model => model.Address)
                        @Html.DisplayFor(model => model.City)
                        @Html.DisplayFor(model => model.Region)
                        @Html.DisplayFor(model => model.PostalCode)
                        @Html.DisplayFor(model => model.Country)
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <strong>@Html.DisplayNameFor(model => model.HomePhone)</strong>
                    </div>
                    <div class="col-md-6">
                        @Html.DisplayFor(model => model.HomePhone)
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <strong>@Html.DisplayNameFor(model => model.Extension)</strong>
                    </div>
                    <div class="col-md-6">
                        @Html.DisplayFor(model => model.Extension)
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <strong>@Html.DisplayNameFor(model => model.ReportsTo)</strong>
                    </div>
                    <div class="col-md-6">
                        @ViewBag.empName
                    </div>
                </div>
            </div>  
        </div>

        <div>
            <strong>@Html.DisplayNameFor(model => model.Notes)</strong>
        </div>
        <div>
            @Html.DisplayFor(model => model.Notes)
        </div>

    </div>
    <div class="modal-footer">
        
        @Html.ActionLink("Show Assigned Orders","Index","Home",new{id=Model.EmployeeID},new {@class="btn btn-info"})
       
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    </div>
</div>
