@model PagedList.IPagedList<OrderManagement.Order>
@using PagedList.Mvc

<head>
    <script src="/Scripts/jquery.js"></script>
    <script type="text/javascript" src="/Scripts/bootstrap.js"></script>
    
    <script type="text/javascript">
        $(function () {
            $("[rel=tooltip]").tooltip();
        });
    </script>
</head>

<table class="table table-condensed table-hover table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(m => m.FirstOrDefault().Customer.CompanyName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Customer.ContactName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Employee.FullName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().OrderDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().RequiredDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().ShippedDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Shipper.CompanyName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Freight)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().ShippingDetails)
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td onclick=" getEmployeeDetails(@item.EmployeeID) " style="cursor: pointer">
                @Html.DisplayFor(modelItem => item.Customer.CompanyName)
            </td>
            <td onclick=" getEmployeeDetails(@item.EmployeeID) " style="cursor: pointer">
                @Html.DisplayFor(modelItem => item.Customer.ContactName)
            </td>
            <td onclick=" getEmployeeDetails(@item.EmployeeID) " style="cursor: pointer">
                @Html.DisplayFor(modelItem => item.Employee.FullName)
            </td>

            <td onclick=" getEmployeeDetails(@item.EmployeeID) " style="cursor: pointer">
                @Html.DisplayFor(modelItem => item.OrderDate)
            </td>
            <td onclick=" getEmployeeDetails(@item.EmployeeID) " style="cursor: pointer">
                @Html.DisplayFor(modelItem => item.RequiredDate)
            </td>
            <td onclick=" getEmployeeDetails(@item.EmployeeID) " style="cursor: pointer">
                @Html.DisplayFor(modelItem => item.ShippedDate)
            </td>
            <td onclick=" getEmployeeDetails(@item.EmployeeID) " style="cursor: pointer">
                @Html.DisplayFor(modelItem => item.Shipper.CompanyName)
            </td>
            <td onclick=" getEmployeeDetails(@item.EmployeeID) " style="cursor: pointer">
                @Html.DisplayFor(modelItem => item.Freight)
            </td>
            <td>                                       
                <a title="@Html.Raw(item.ShipName)
                     @Html.Raw(item.ShipAddress)
                     @Html.Raw(item.ShipCity)      
                     @Html.Raw(item.ShipRegion)                
                     @Html.Raw(item.ShipPostalCode)               
                     @Html.Raw(item.ShipCountry)"
                   data-html="true" 
                   data-toggle='tooltip' 
                   data-placement='left' 
                    >
                    @Html.DisplayFor(modelItem => item.ShippingDetails) 
                </a>               
            </td>       
            <td id="optionSquare">
                @Html.ActionLink("Edit", "Edit", "Home", new {id = item.OrderID}, new {@class = "btn btn-default btn-xs"})
                <button class="btn btn-default btn-xs" onclick=" showDeleteDialog(@item.OrderID) " style="cursor: pointer">Delete</button>
                @Html.ActionLink("Details", "Details", "Home", new {id = item.OrderID}, new {@class = "btn btn-default btn-xs"})
              
            </td>
        </tr>
    }
</table>
<div class="text-center">
    @Html.PagedListPager(Model, page => Url.Action("Index","Home", new { page }))
</div>

     


