@model OrderManagement.Order

@{
    ViewBag.Title = "Edit Order";
}
<head>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css">
</head>

@section Scripts {
    
    <script>
        $(function () {
            $('#datepicker').datepicker();
            $('#datepicker1').datepicker();
            $('#datepicker2').datepicker();
        });
    </script>
}


@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    @Html.HiddenFor(model => model.OrderID)
    <div class="row">
        <div class=" col-md-offset-1 col-md-4">
            <div class="form-group input-group-sm">
                @Html.LabelFor(model => model.CustomerID, "Customer")
                @Html.DropDownListFor(m => m.CustomerID, (SelectList)ViewBag.Customers, new { @class = "form-control input-sm" })
            </div>
            <div class="form-group input-group-sm">
                @Html.LabelFor(model => model.EmployeeID, "Employee")

                @Html.DropDownList("EmployeeID", (SelectList)ViewBag.Employees, String.Empty, new { @class = "form-control input-sm" })
                @Html.ValidationMessageFor(model => model.EmployeeID)
            </div>
            <div class="form-group input-group-sm">
                @Html.LabelFor(model => model.OrderDate)

                @Html.TextBoxFor(model => model.OrderDate, new { @class = "form-control input-sm", id = "datepicker" })
                @Html.ValidationMessageFor(model => model.OrderDate)
            </div>
            <div class="form-group input-group-sm">
                @Html.LabelFor(model => model.RequiredDate)

                @Html.TextBoxFor(model => model.RequiredDate, new { @class = "form-control input-sm", id = "datepicker1" })
                @Html.ValidationMessageFor(model => model.RequiredDate)
            </div>
            <div class="form-group input-group-sm">
                @Html.LabelFor(model => model.ShippedDate)

                @Html.TextBoxFor(model => model.ShippedDate, new { @class = "form-control input-sm", id = "datepicker2" })
                @Html.ValidationMessageFor(model => model.ShippedDate)
            </div>
            <div class="form-group input-group-sm">
                @Html.LabelFor(model => model.ShipVia, "Shipper")

                @Html.DropDownList("ShipVia", (SelectList)ViewBag.ShipVias, String.Empty, new { @class = "form-control input-sm" })
                @Html.ValidationMessageFor(model => model.ShipVia)
            </div>
            <div class="form-group input-group-sm">
                @Html.LabelFor(model => model.Freight)

                @Html.TextBoxFor(model => model.Freight, new { @class = "form-control input-sm" })
                @Html.ValidationMessageFor(model => model.Freight)
            </div>
            <div class="form-group input-group-sm">
                @Html.LabelFor(model => model.ShipName)

                @Html.TextBoxFor(model => model.ShipName, new { @class = "form-control input-sm" })
                @Html.ValidationMessageFor(model => model.ShipName)
            </div>
        </div>
        <div class="col-md-offset-1 col-md-4">
            <div class="form-group input-group-sm">
                @Html.LabelFor(model => model.ShipAddress)

                @Html.TextBoxFor(model => model.ShipAddress, new { @class = "form-control input-sm" })
                @Html.ValidationMessageFor(model => model.ShipAddress)
            </div>
            <div class="form-group input-group-sm">
                @Html.LabelFor(model => model.ShipCity)

                @Html.TextBoxFor(model => model.ShipCity, new { @class = "form-control input-sm" })
                @Html.ValidationMessageFor(model => model.ShipCity)
            </div>
            <div class="form-group input-group-sm">
                @Html.LabelFor(model => model.ShipRegion)

                @Html.TextBoxFor(model => model.ShipRegion, new { @class = "form-control input-sm" })
                @Html.ValidationMessageFor(model => model.ShipRegion)
            </div>
            <div class="form-group input-group-sm">
                @Html.LabelFor(model => model.ShipPostalCode)

                @Html.TextBoxFor(model => model.ShipPostalCode, new { @class = "form-control input-sm" })
                @Html.ValidationMessageFor(model => model.ShipPostalCode)
            </div>
            <div class="form-group input-group-sm">
                @Html.LabelFor(model => model.ShipCountry)

                @Html.TextBoxFor(model => model.ShipCountry, new { @class = "form-control input-sm" })
                @Html.ValidationMessageFor(model => model.ShipCountry)
            </div>
            <p>
                <input class="btn btn-default" type="submit" value="Save" />
            </p>
        </div>
    </div>   

}
 <script src="http://code.jquery.com/jquery-1.9.1.js"></script>

<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<div class="navbar navbar-fixed-bottom">
    <div class="container">
    @Html.ActionLink("Back to List", "Index")
    </div>
</div>


