@model IEnumerable<TravelAgency.Models.Leg>


<script>

    function black(id) {
        alert(id);
    }
    function showGuests(id) {
        $.ajax({
            url: '@Url.Action("GetGuestsOnLeg")',
            data: { legId: id },
            success: function (data) {
                $('#guestsModal').modal("show");
                $("#guestsDetails").html(data).modal("show");
            }
        });
    }



</script>

<div id="guestsModal" class="modal fade" role="dialog" aria-hidden="true">
    <br />
    <br />
    <br />
    <div class="col-md-offset-4 col-md-4" id="guestsDetails">
    </div>
</div>

@{
    int i = 0;
    foreach (var item in Model)
    {
        i++;
        <div class="row">
            <div class="col-md-2 text-right" >
                <div class="btn btn-info btn-xs">@i.</div>

            </div>
            <div class="col-md-9">

                <strong>
                    @Html.DisplayFor(modelItem => item.StartLocation) -
                    @Html.DisplayFor(modelItem => item.FinishLocation):

                </strong>

                @Html.DisplayFor(modelItem => item.StartDate.Day)-
                @Html.DisplayFor(modelItem => item.FinishDate)

            </div>
            <div class="col-md-1">
                <span class="badge" onclick=" showGuests(@item.Id) " style="cursor: pointer">
                    @Html.DisplayFor(modelItem => item.LegRegistrations.Count) Guests
                </span>
            </div>
        </div>
        <br />
    }
}