@model TravelAgency.Models.Trip
<head>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css">
</head>
@{
    ViewBag.Title = "Add Trip";
}

@section scripts
{
    <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
   
    <script>
        $(function () {
            $('#datepicker').datepicker({ dateFormat: 'dd/mm/yy' });
            $('#datepicker1').datepicker({ dateFormat: 'dd/mm/yy' });
           
        });
    </script>
     @Scripts.Render("~/bundles/jqueryval")
}
<br/>
<br/>
<div>
    @Html.ActionLink("Back to List", "Index",null, new{@class="btn btn-info btn-sm"})
</div>
<br/>
<div class="row">

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        <div class="col-md-offset-3 well col-md-6">
            <fieldset>
                <legend>New Trip</legend>

                <div class="form-group">
                  
                    
                    @Html.LabelFor(model => model.Name)
                    @Html.TextBoxFor(model => model.Name, new { @class = "form-control", placeholder = "Name of the trip" })
                    @Html.ValidationMessageFor(model => model.Name, null, new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.StartDate)
                    @Html.TextBoxFor(model => model.StartDate, new { @class = "form-control ", id = "datepicker" })
                    @Html.ValidationMessageFor(model => model.StartDate,null, new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.FinishDate)
                    @Html.TextBoxFor(model => model.FinishDate, new { @class = "form-control ", id = "datepicker1" })
                    @Html.ValidationMessageFor(model => model.FinishDate,null, new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.MinimumGuests)
                    @Html.TextBoxFor(model => model.MinimumGuests, new { @class = "form-control", placeholder = "Mimimum Number of Guest for trip to be considered Viable" })
                    @Html.ValidationMessageFor(model => model.MinimumGuests,null, new { @class = "text-danger" })
                </div>
                <br/>
                <br/>
                <input type="submit" class="btn btn-success col-md-12" value="Create"/>
            </fieldset>
        </div>
        
        <div class="col-md-6"></div>

    }
</div>