@model IEnumerable<TravelAgency.Models.Trip>

@{
    ViewBag.Title = "Index";
}

@section scripts
{
    <script type="text/javascript">
     
        function getTripDetails(tripId) {
            $.ajax({
                url: '@Url.Action("TripDetails")',
                data: { tripId: tripId },
                success: function (data) {
                    $('#m_' + tripId).html(data);
                }
            });
        }

    
    </script>
}
<h2>Trips</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>


@foreach (var item in Model)
{
    <div class="row" id="@item.Id" onclick=" getTripDetails(@item.Id)">
        <div class="col-md-4">
            <img src="~/Images/Russia.jpg" />
        </div>
        <div class="col-md-3">
            <div class="row text-center">
                <h2>@Html.DisplayFor(modelItem => item.Name)</h2>
            </div>
            <div class="row text-center">
                <h4>@Html.DisplayFor(modelItem => item.StartDate) -
                        @Html.DisplayFor(modelItem => item.FinishDate)</h4>
            </div>
            <div class="row text-center">
                <span class="badge">Guests</span>
            </div>
            <br />
            <div class="row">
                <div class="col-md-offset-2 col-md-4 text-center">
                    <div class=" row">
                        @Html.DisplayNameFor(model => model.Viable)
                    </div>
                    <div class="row">
                        @if (@item.Viable == true)
                        {
                            <button type="button"
                                    class="btn-default btn-sm btn-success"
                                    data-toogle="tooltip"
                                    data-placement='bottom' 
                                    title="Minimum number of Guest is ..."
                                >
                                <span class="glyphicon glyphicon-ok"></span>
                            </button>
                                               
                        }

                        @if (@item.Viable == false)
                        {
                            <span class="glyphicon glyphicon-remove"></span>
                        }
                    </div>
                </div>
                <div class="col-md-4 text-center">
                    <div class="row">
                        Complete
                    </div>
                    <div class="row">
                        <button class="btn-default btn-sm btn-danger">
                            <span class="glyphicon glyphicon-remove"></span>
                        </button>
                    </div>
                </div>

            </div>

        </div>
        <div class="col-md-5" id="m_@item.Id"></div>
    </div>
}


